*.rbc
.rspec
/log
/tmp
/spec/tmp
**.orig
/.buildpath
/.project
/.settings

## Environment normalisation:
/.bundle
/vendor/bundle

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc
